@import url("https://fonts.googleapis.com/css2? family-Poppins:wght@300;400;500;600;700; 800;900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    justify-content: center;
    background-image: url("background.jpg");
    background-repeat: no-repeat; 
    background-position: center ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ebfafa;
}
.container{
    background-image: url("container-background.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    width: 850px;
    border-radius: 10px;
    margin: 50px 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px 35px 35px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.container.disable :where(.editor-panel, .reset-filter, .save-img){
  opacity: 0.6;
  pointer-events: none;
}
.container h2{
  font-size: 20px;
  text-align: center;
  font-style: 500;
  font-family: "Poppins", serif;
}
#quote{
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins", serif;
}
.container .wrapper{
  display: flex;
  margin: 20px 0;
  min-width: 335px;
}
.wrapper .editor-panel{
  border: 280px;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.editor-panel .title{
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.editor-panel .options, .controls{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#brightness:hover, #saturation:hover, #inversion:hover, #grayscale:hover{
  color: black;
  border: 1px solid black;
}
#left:hover, #right:hover, #vertical:hover, #horizontal:hover{
  background-color: #5372F0;
  color: white;
  border: 1px solid #5372F0;
}
.editor-panel button{
  height: 40px;
  font-size: 14px;
  color: #6C7570;
  margin-bottom: 8px;
  border-radius:5px;
  background: #fff;
  border: 1px solid #aaa;
}
.editor-panel .filter button{
  width: calc(100% / 2 - 4px);
}
.filter button.active{
  color:#fff;
  background :#5372F0;
  border-color: #5372F0;
}
.filter .slider{
  margin-top: 12px;
}
.filter .slider .filter-info{
  display: flex;
  color: #464646;
  font-size: 14px;
  justify-content: space-between;
}
.filter .slider input{
  width: 100%;
  height: 5px;
}
.editor-panel .rotate button{
  width: calc(100% / 4 - 3px);
  font-size: 18px;
  align-items: center;
}
.editor-panel .rotate{
  margin-top: 17px;
}
.preview-img{
  margin-left: 20px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.preview-img img{
  max-width: 350px;
  min-height: 335px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.preview-img img:hover{
  opacity: 0.9;
}
.controls button{
  font-size: 15px;
  color: #fff;
  background: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
}
.controls .reset-filter{
  color: #6C7570;
  border: 1px solid #6C7570;
}
.choose-img:hover, .save-img:hover{
  opacity: 0.6;
}
#reset{
  color: black;
}
#reset:hover{
  color: white;
  background: #5372F0;
  border: 1px solid #5372F0;
}
.controls .choose-img{
  background: #494a4a;
  border: 1px solid #494a4a;
}
.controls .save-img{
  background: #5372F0;
  border: 1px solid #5372F0;
  margin-left: 5px;
}
@media screen and (max-width: 760px) {
  body{
    background-image: none;
  }
  .container{
    width: 80%;
    background-image: url("container-background.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 25px;
    margin: 50px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container .wrapper{
    flex-wrap: wrap-reverse;
  }
  .wrapper .editor-panel{
    width: 100%;
  }
  .wrapper .preview-img{
    width: 100%;
    margin: 0 0 15px;
  }
}
@media screen and (max-width: 500px) {
  body{
    background-image: none;
  }
  .container{
   width: 90%;
   justify-content: center;
   background-image: url("container-background.jpg");
   background-repeat: no-repeat; 
   background-position: center ;
   background-size: cover;
   padding: 5px 5px;
   padding-top: 30px;
   margin-top: 45px;
   margin-bottom: 45px;
  }
  .controls button{
    margin-bottom: 10px;
    width: 100%;
  }
  .controls{
    margin: 20px 20px;
  }
  .editor-panel{
    margin: 10px 10px;
  }
  #placeholder{
    max-width:80%;
    max-height: 80%;
  }
  .controls .row{
    width: 100%;
  }
  .controls .row .save-img{
    margin-left: 0px;
  }
}
